body{
    margin: 0;
    padding: 1rem;
    font-size: 22px;
}
.cards{
    max-width: 1200px;
    display: grid;
    gap: 1rem;
    margin: 0 auto;
}
.card{
    background-color: blue;
    color: beige;
    padding: 1rem;
    height: 4rem;
}
@media (min-width:600px) {
    .cards {
        grid-template-columns: repeat(2,1fr);
    }
}